.calculator {
	display: grid;
	grid-template-columns: minmax(24ch, 1fr) minmax(10px, 1fr);
	border: 1px solid rgb(24, 24, 24);
	border-radius: 5px;
}
form.bmi {
	justify-self: center;
	display: grid;
	grid: 1fr / 200px;
	gap: 4px;
	padding: 0.75rem 0;
}

form.bmi input {
	width: 70%;
}

form.bmi h2 {
	margin: 0;
}

.switch {
	background-image: linear-gradient(
		45deg,
		rgb(var(--accent)),
		#da62c4 30%,
		white 60%
	);
	background-size: 400%;
	background-position: 0%;
	color: white;
	padding: 0.1rem 0.2rem;
	border-radius: 0.5rem;
}
.submitBtn {
	width: 50%;
	justify-self: start;
	background-color: rgb(77, 102, 243);
	color: white;
	height: 2.25rem;
	font-size: 1.2rem;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
	padding: 1;
}
.results_container {
	height: 5rem;
	width: 6rem;
	border: 1px solid rgb(var(--accent));
	background-image: linear-gradient(
		45deg,
		rgb(var(--accent)),
		#da62c4 30%,
		white 60%
	);
	background-size: 400%;
	background-position: 0%;
	color: white;
	padding: 0.1rem 0.2rem;
	border-radius: 0.5rem;
	padding: 4px;
	align-self: center;
	justify-self: center;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1rem;
}

.results_container span {
	font-size: 1.75rem;
	line-height: 1rem;
}
